@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

footer {
    margin-top: 1rem;
}

// Header

// header .navbar {
//     position: fixed;
//     width: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     opacity: 0.8;
//     z-index: 1;
    
//     @media (min-width: 992px) {
//         max-width: 910px;
//     }
// }

// Home Page

#home h2 .subhead {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

#home .jumbotron h1,
#home .jumbotron h2 {
    text-align: center;
}

#home ul.horizontal-list {
    padding: 0;
    margin-left: 1em;
    text-align: center;
}

#home ul.horizontal-list li {
    display: inline-block;
    margin-right: 1em;
}

ul.horizontal-list li:first-child {
    // margin-left: 0;
}

#home .jumbotron {
    background-position: center;
}

#home .list-group:last-child {
    margin-bottom: 32px;
}

// Fix borders on single column lists.
@media (max-width: 543px) {
    #home .row .col-sm-6:first-child .list-group-item:last-child {
        border-radius: 0;
    }

    #home .row .col-sm-6:last-child {
        padding-right: 0;
        
        .list-group-item:first-child {
            border-top: 0;
            border-radius: 0;
        }
    }
}

#home .list-group .fa {
    width: 18px;
    background-position: center center;
}

// Blog.

.jumbotron .container {
    background-color: rgba(236, 238, 239, 0.8);
    padding-top: 1rem;
}

.jumbotron,
.postimage {
    background-size: cover;
    background-position: 0;
}

.postimage {
    height: 40vh;
}

.post-title {
    margin-top: 1rem;
}

// Syntax highlighting.

pre.highlight {
    padding: 1em;
}
